.search-wrapper {
  margin: 0 auto;
  border: 1px solid #31112c;
  border-radius: 6px;
  width: fit-content;
  padding: 2px 5px;
  color: #31112c;
}

.search-wrapper input,
.search-wrapper button {
  border: none;
  background: none;
}

.search-wrapper input:focus-visible {
  outline: none;
}

.Search h1 {
  font-size: 25px;
}

@media (max-width: 700px) {
  .Search h1 {
    font-size: 20px;
  }
}
