.SynonymList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-left: 0px;
  margin-top: 10px;
}

.SynonymList li {
  border: 1px solid rgb(125, 6, 51, 0.7) !important;
  border-radius: 10px !important;
  display: inline-block;
  padding: 2px 6px;
  margin: 2px;
  height: fit-content;
  width: fit-content;
  background-color: transparent;
  white-space: nowrap;
  color: rgb(125, 6, 51, 0.7);
  font-size: 13px;
}

.synonyms-wrapper p {
  margin-bottom: 2px;
}

.synonyms-wrapper ul {
  margin-top: 2px;
}
